= form_for [@ip_pool, @ip_address], :remote => true do |f|
  = f.error_messages
  %fieldset.fieldSet
    - if @ip_pool.proxy?
      .fieldSet__field
        = f.label :ipv4, "Proxy IP Address", :class => 'fieldSet__label'
        .fieldSet__input= f.text_field :ipv4, :autofocus => true, :class => 'input input--text', :placeholder => '192.168.1.100'
      .fieldSet__field
        = f.label :proxy_port, "Proxy Port", :class => 'fieldSet__label'
        .fieldSet__input
          = f.text_field :proxy_port, :class => 'input input--text', :placeholder => '1080'
          %p.fieldSet__text Default SOCKS5 port is 1080.
      .fieldSet__field
        = f.label :proxy_username, "Username", :class => 'fieldSet__label'
        .fieldSet__input
          = f.text_field :proxy_username, :class => 'input input--text'
          %p.fieldSet__text Leave empty if the proxy uses IP-based authentication.
      .fieldSet__field
        = f.label :proxy_password, "Password", :class => 'fieldSet__label'
        .fieldSet__input= f.password_field :proxy_password, :class => 'input input--text'
      .fieldSet__field
        = f.label :hostname, "HELO Hostname", :class => 'fieldSet__label'
        .fieldSet__input
          = f.text_field :hostname, :class => 'input input--text', :placeholder => 'mail.example.com'
          %p.fieldSet__text This hostname will be used in SMTP HELO/EHLO greeting.
    - else
      .fieldSet__field
        = f.label :ipv4, :class => 'fieldSet__label'
        .fieldSet__input= f.text_field :ipv4, :autofocus => true, :class => 'input input--text'
      .fieldSet__field
        = f.label :ipv6, :class => 'fieldSet__label'
        .fieldSet__input= f.text_field :ipv6, :class => 'input input--text'
      .fieldSet__field
        = f.label :hostname, :class => 'fieldSet__label'
        .fieldSet__input= f.text_field :hostname, :class => 'input input--text'

    .fieldSet__field
      = f.label :priority, :class => 'fieldSet__label'
      .fieldSet__input
        = f.text_field :priority, :class => 'input input--text', placeholder: '100'
        %p.fieldSet__text
          This priority will determine the likelihood of this
          = @ip_pool.proxy? ? 'proxy' : 'IP address'
          being selected for use when sending a message. The higher the number the more likely it
          is to be chosen. By default, the priority is set to the maximum value of 100.

  .fieldSetSubmit.buttonSet
    - if @ip_pool.proxy?
      = f.submit @ip_address.persisted? ? "Update Proxy" : "Create Proxy", :class => 'button button--positive js-form-submit'
    - else
      = f.submit :class => 'button button--positive js-form-submit'
    .fieldSetSubmit__delete
      - if @ip_address.persisted?
        - delete_label = @ip_pool.proxy? ? "Delete Proxy" : "Delete IP address"
        = link_to delete_label, [@ip_pool, @ip_address], :class => 'button button--danger', :method => :delete, :remote => true, :data => {:confirm => "Are you sure you wish to remove this from the pool?"}
